header {
  background: white;
  height: 70px;
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

body {
  background: lightblue;
  margin: 0;
}
#navigation {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin: auto 0;
}
header a {
  text-decoration: none;
  color: rgb(109, 109, 223);
  padding: 5px;
}
header a:hover {
  color: rgb(0, 0, 255);
  scale: 1.2;
}
header img {
  width: 70px;
}

#Accueil {
  background: #62e16d;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  flex-direction: column;
  width: 70%;
}

#Accueil div {
  display: flex;
  justify-content: center;
}

#Accueil div img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 20px;
}

#Paragraphe {
  background: rgb(255, 255, 255);;
  border-radius: 10px;
  margin: 10px;
}

#left_side,
#right_side {
  display: inline;
  width: 100%;
  flex-direction: column;
  height: 100%;
  margin: 10px;
}

#left_side li,
#right_side li {
  font-size: 20px;
}

#savoir_plus {
  background: orange;
  font-size: 30px;
  width: 250px;
  margin: auto;
  border-radius: 10px;
}

#savoir_plus:hover {
  cursor: pointer;
}

footer {
  background: rgba(0, 32, 51);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

footer .col {
  width: 30%;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  font-size: 16px;
  margin: 10px 0;
}

footer i {
  margin-right: 8px;
  font-size: 18px;
}

@media all and (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  footer .col {
    width: 100%;
  }

  footer i {
    font-size: 20px;
  }
  #Paragraphe {
    flex-direction: column;
  }
  .part {
    display: block;
    flex-direction: column;
  }
}

li img {
  width: 20px;
}

#Projets {
  background: #100b18;
  border-radius: 15px;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 10px;
}

.part {
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  width: 200px;
  height: 250px;
  margin: 20px;
  border-radius: 16px;
  padding: 20px;
  transition: 0.3s ease;
}

.card:hover {
  scale: 1.1;
  cursor: pointer;
}

.card .content {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card img {
  width: 200px;
  height: 150px;
  margin: 0px auto;
  margin-bottom: 40px;
  border-radius: 15px;
}

.card label {
  margin: 0 auto;
  font-size: 20px;
}

#Contact {
  background: white;
  border-radius: 16px;
  padding: 30px;
  width: 30%;
  margin: auto;
}

#continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: auto;
}

input, textarea{
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: blue;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background: rgb(92, 92, 230);
}

.inscrire {
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  width: 30%;
  margin: auto;
  justify-content: center;
}

.inscrire form{
   display: flex;
   flex-direction: column;
  justify-items: center;
}
